*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Backup files
*.bak
game_state.json
.*.swp

# Bootstrapped virtualenv files
csrv-bootstrap.py
include/*
.Python

# Cache files
.DS_Store

# ignore scanned images and FFG assets
csrv/server/static/images/[0-9][0-9][0-9][0-9][0-9].png
csrv/server/static/images/corp-back.jpg
csrv/server/static/images/runner-back.jpg
csrv/server/static/images/Credit.png
csrv/server/static/images/click.png
csrv/server/static/images/advancement.png
csrv/server/static/images/corp-empty.jpg
csrv/server/static/images/credit_token.png
csrv/server/static/images/virus_counter.png
csrv/server/static/csrv_localization.json
