<!DOCTYPE html>
<html>
  <head>
    <title>Choose your runner deck</title>
  </head>
  <body>
    <form action="/game/{{game_id}}/{{side}}/deck" method="post"
      enctype="multipart/form-data">
      {% module xsrf_form_html() %}
      <p><h3>Upload a .o8d file</h3>
        <input type="file" name="file" id="file">
      </p>
      {% for error in errors %}
      <p class="error">{{ error }}</p>
      {% end %}
      <p><h3>Use a premade deck</h3>
      <select name="premade" id="premade">
      {% for i, deck in enumerate(decks) %}
      <option value="{{i}}">{{deck['name']}}</option>
      {% end %}
    </select>
      </p>
      <input type="submit" value="next">
    </form>
  </body>
</html>
